main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.search {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
}

input,
select {
    height: 40px;
    width: 175px;
    padding: 0 5px;
    font-size: 1.1em;
}

button {
    height: 40px;
    width: 40px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 175px;
    gap: 10px;
}

.card {
    height: 175px;
    // width: 400px;
    background: rgb(243, 208, 177);
    border: 1px solid lightgrey;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 175px 1fr;
}

.card img {
    width: 95%;
    height: 95%;
    object-fit: contain;
    align-self: center;
    justify-self: center;
}

.content {
    padding: 15px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content h2,
.content p {
    margin: 0;
}

.content h2 {
    font-size: 1.1em;
}

.attributes {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.released {
    font-size: 0.8em;
}
